$THEME_ACCENT1:#ee7752;
$THEME_ACCENT2:#e73c7e;
$THEME_ACCENT3:#23a6d5;
$THEME_ACCENT4:#23d5ab;

$LIGHT: #F7F7F7;
$WHITE: #FFFFFF;
$DARK: #1F1F1F;
$BLACK: #000000;

$RED: #AA182B;
$BLUE: #2299DD;
$GREEN: #93C572;