body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #190b45;
}

.fa-star-o:before {
    content: "\f006";
    color: #5f6368;
}

.fa-star:before {
    content: "\f005";
    color: #d56e0c;
}