.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: #ee7752;
    background: -webkit-linear-gradient(60deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(60deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300% 300%;
    animation: gradient 32s ease infinite;

}


@media screen and (min-width: 900px) {
    .wrapper {
        text-align: initial;
    }

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
