body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4E5878;
}

#grid {
    border: 0.5px solid #FFF;
}

.grid-row {
    display: flex;
}

.grid-cell {
    height: 3rem;
    width: 3rem;
    border: 0.5px solid #FFF;
    border-collapse: collapse;
}