.wrapper {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    animation: animate 2s ease-in-out infinite both;
}

@keyframes animate {
    0% {
        transform: scale(1) rotate(0);
        border-radius: 50%;
    }

    25% {
        transform: scale(2) rotate(0);
        border-radius: 30%;
    }

    50% {
        transform: scale(2) rotate(180deg);
        border-radius: 10%;
    }

    75% {
        transform: scale(2) rotate(0);
        border-radius: 30%;
    }

    100% {
        transform: scale(1) rotate(0);
        border-radius: 50%;
    }
}
