.main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: #ee7752;
    background: -webkit-linear-gradient(60deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(60deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300% 300%;
	animation: gradient 32s ease infinite;

    @media screen and (min-width: 900px) {
        text-align: initial;
    }

}

.header {
    position: relative;
    padding: 1rem 1rem 10rem;
    color: #FFFFFF;
    z-index: 10;

    @media screen and (min-width: 576px) {
        padding-bottom: 15rem;
    }

    @media screen and (min-width: 900px) {
        width: 90%;
        padding-bottom: 1rem;
    }

    @media screen and (min-width: 1200px) {
        width: 80%;
    }
}

.title {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;

    @media screen and (min-width: 900px) {
        font-size: 3rem;
    }

    @media screen and (min-width: 1200px) {
        font-size: 4.5rem;
    }
}

.subtitle {
    font-weight: 400;
    font-size: 1rem;
    margin: 0.75rem 0 0;

    @media screen and (min-width: 1200px) {
        font-size: 1.75rem;
    }
}

.description {
    color: #FDEF50;
    margin-top: 2rem;
    font-size: 1.35rem;
    font-family: 'Oooh Baby', cursive;

    @media screen and (min-width: 900px) {
        width: 50%;
        font-size: 1.5rem;
    }

    @media screen and (min-width: 1200px) {
        width: 60%;
        font-size: 2rem;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.hands {
    position: fixed;
    bottom: -5%;
    left: 50%;
    max-width: 80%;
    transform: translateX(-50%) rotate(90deg);

    @media screen and (min-width: 576px) {
        max-width: 60%;
    }

    @media screen and (min-width: 900px) {
        left: initial;
        right: -5%;
        bottom: 50%;
        transform: translateY(50%) rotate(0);
    }

    @media screen and (min-width: 1200px) {
        max-width: 100%;
    }
}