.main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: #ee7752;
    background: -webkit-linear-gradient(60deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(60deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradient 25s ease infinite;

    @media screen and (min-width: 900px) {
        text-align: initial;
    }

}

.header {
    padding: 1rem;
    color: #FFFFFF;

    @media screen and (min-width: 900px) {
        width: 90%;
    }

    @media screen and (min-width: 1200px) {
        width: 80%;
    }
}

.title {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;

    @media screen and (min-width: 900px) {
        font-size: 3.25rem;
    }

    @media screen and (min-width: 1200px) {
        font-size: 4.5rem;
    }
}

.subtitle {
    font-weight: 400;
    font-size: 1rem;
    margin: 0.75rem 0 0;

    @media screen and (min-width: 1200px) {
        font-size: 1.75rem;
    }
}

.description {
    margin-top: 2rem;
    font-size: 1.35rem;
    font-family: 'Oooh Baby', cursive;

    @media screen and (min-width: 900px) {
        width: 60%;
        font-size: 1.5rem;
    }

    @media screen and (min-width: 1200px) {
        font-size: 2rem;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}